<!-- modal para delete -->
<div class="modal fade" id="delete_modal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Show</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <h6 class="modal-text">Are you sure you want to delete the this show?</h6>
                <h5 class="modal-text text-danger" >This process cannot be undone.</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">No</button>
                <a href="#" id="confirmar-borrar" class="btn btn-danger">Si</a>
            </div>
        </div>
    </div>
</div>