{% extends "tv_shows/base.html" %}
{% load static %}
{% block title %}Read (One){% endblock %}
{% block header %}Tv Show {{ show.id }}{% endblock %}
{% block subheader %}Title: {{ show.title }}{% endblock %}
{% block content %}
<div class="row">
    {% if messages %}
    <ul class="text-success list-unstyled">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="col-9">
        <h4><span class="fw-bold">Title: </span>{{ show.title }}</h4>
        <p><span class="fw-bold">Description: </span>{{ show.description }}</p>
        <p><span class="fw-bold">Network: </span>{{ show.networks }}</p>
        <p><span class="fw-bold">Release date: </span>{{ show.release_date|date:"F d, Y" }}</p>
    </div>
    <div class="col-3">
        <img class="show_img img-thumbnail" src="{% static 'tv_shows/assets/img/show/1200px-No-Image-Placeholder.svg.png' %}" alt="placeholder for show image">
    </div>
</div>
<div class="row mt-5">
    <p><span class="fw-bold">Last Updated: </span>{{ show.updated_at|date:"F d, Y h:i a" }}</p>
</div>
<div>
    <a class="btn btn-secondary btn-sm" href="{% url 'tv_shows:edit_show' show.id %}" role="button">Edit</a>
    <a class="btn btn-danger btn-sm" href="{% url 'tv_shows:delete_show' show.id %}" role="button">Delete</a>
    <a class="btn btn-success btn-sm" href="{% url 'tv_shows:home' %}" role="button">Go back</a>
</div>
{% endblock %}